@using RecipeRightBlazor.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
<h3>Step @Index</h3>

<div>
    @foreach (IngredientWithAmount ingredientWithAmount in Step.IngredientsWithAmounts)
    {
        <IngredientWithAmountEditor IngredientWithAmount="ingredientWithAmount" Ingredients="ingredients"/>
    }
</div>
<div>
    <a class="btn" @onclick="@AddIngredientToStep">Add step ingredient</a>
</div>
<div>
    <label for="@($"action-{Step.Id}")">Action</label>
    <InputTextArea id="@($"action-{Step.Id}")" @bind-Value="Step.Action" />
</div>



@code {
    [Parameter]
    public Step Step { get; set; }

    [Parameter]
    public int Index { get; set; }

    private Ingredient[] ingredients;

    private void AddIngredientToStep()
    {
        var ingredientWithAmount = new IngredientWithAmount
        {
            Id = Guid.NewGuid(),
        };
        Step.IngredientsWithAmounts.Add(ingredientWithAmount);
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ingredients = await Http.GetFromJsonAsync<Ingredient[]>("Ingredient");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}