@charset "utf-8";

// You can easily customize Bulma with your own variables.

// 1. Import the initial variables
@import 'bulma/sass/utilities/initial-variables';

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #00a8eb;

// Primary color
$green: #6dd631;
$green-invert: #fff;

// Update the sans-serif font family
$family-sans-serif: 'Helvetica', 'Arial', sans-serif;

// 3. Set the derived variables
// Use the new primary color
$primary: $green;
$primary-invert: $green-invert;

// 4. Import the rest of Bulma
@import 'bulma/bulma';
